//====================================================================================================
.footer {
	background-color: $accentColor;
	color: #dde6f7;
	font-family: $ttFont;
	font-size: rem(20);
	&__container {
	}

	&__copyright {
		padding: rem(60) 0;
		text-align: center;
	}
}

//====================================================================================================
