.process {
	background-image: url(@img/process_bg.jpg);
	background-repeat: no-repeat;
	padding: rem(70) 0;
	&__container {
	}

	&__title {
		font-family: $ttFont;
		font-size: rem(30);
		line-height: math.div(42, 30);
		margin-bottom: rem(23);
	}

	&__text {
	}

	&__button {
		display: inline-block;
		background-color: $accentColor;
		margin-top: rem(30);
		margin-bottom: rem(15);
		padding: rem(12) rem(35);
		font-family: $ttFont;
		@include adaptiveValue('font-size', 20, 16);
		color: #fff;
		border-radius: rem(15);
		transition: all 0.8s ease 0s;
		@media (min-width: $tablet) {
			padding: rem(18) rem(50);
		}
		@media (any-hover: hover) {
			&:hover {
				text-shadow: 0px 0px 2px #000;
				background-color: darken($accentColor, 20%);
			}
		}
	}
}
.text-process {
	display: grid;
	grid-template-columns: 1fr;
	gap: rem(50);
	font-size: rem(16);
	line-height: math.div(20, 16);
	@media (min-width: $mobile) {
		grid-template-columns: 1fr 1fr;
		gap: rem(100);
	}
	&__left {
		p {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
		@media (min-width: $mobile) {
		}
	}

	&__right {
		p {
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
		@media (min-width: $mobile) {
		}
	}
}
